/* General Styles */
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Sticky Header */
.sticky-header {
  position: sticky;
  top: 0;
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sticky-header h1 {
  font-size: 26px;
  margin: 0;
}

.sticky-header h2 {
  font-size: 16px;
  margin: 0;
  color: #ddd;
}

h3 {
  color: #444;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

h4 {
  margin-bottom: 0px;
}

section div div {
  margin: 0; /* Remove extra space */
  font-size: 14px; /* Adjust size */
  color: #555; /* Set a lighter color for duration and location */
}

/* Resume Container */
.resume-container {
  display: flex;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex-wrap: nowrap;
  margin: 0px auto;
  max-width: 1200px;
}

/* Left Column */
.left-column {
  flex: 3;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.left-column h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.about-me {
  margin-bottom: 20px;
}

.about-me p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}

.about-me {
  text-align: justify;
}

.all-resp {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}

.experience-item {
  text-align: justify;
}

/* Right Column */
.right-column {
  flex: 1;
  padding: 20px;
  background: #f4f4f4;
  position: relative;
  border-left: 2px solid #e9ecef;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .right-column {
    border-left: none;
    border-top: 2px solid #e9ecef;
  }
}

.right-column h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.right-column p,
.right-column ul {
  font-size: 15px;
  color: #555;
}

.right-column ul {
  list-style: square;
  padding-left: 20px;
}

.right-column ul li {
  margin-bottom: 5px;
}

.college-location,
.edu-duration {
  font-size: 15px;
  color: #555;
}

#download {
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  border-width: 1px;
  background-color: #bbb8b8;
}

.button-container {
  position: relative;
  justify-self: center;
}
